.card-container{
    width: 95%;
    height: auto;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -20.5%);
    background-color: #1B1D1F;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: #6C727F;
}
.card-header{
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & p{
    font-size:1rem ;
    color: #6C727F;
  }
  & form{
    border: none;
    width: 25%;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #282B30;

    & input{
      margin-left: 0.5rem;
      background: none;
      color: #D2D5DA;
      font-size: 0.9rem;
      width: 100%;
      border: none;
    }
  }
}
.card-body{
  flex: 3;
  max-width: 75%; /* Ancho máximo de la card */
  border-radius: 5px;
  padding: 10px;
  margin-left: auto; /* Mover la tarjeta hacia la derecha */
}
.section-filter{
  flex: 1;
  max-width: 25%;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  margin-right: auto;

  &-region, &-status{
    margin: 1.2rem auto;
  }
}
select{
  border: 2px solid #6C727F;
  width: 100%;
  padding: 0.5rem;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #1B1D1F;
  color: #D2D5DA;
  cursor: pointer;
}

.diosmio{
  display: flex;
}
.status {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #D2D5DA;
}

input[type="checkbox"] {
  margin-right: 10px;
  border: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 25px; /* Ajusta el ancho deseado del checkbox */
  height: 25px; /* Ajusta la altura deseada del checkbox */
  margin-right: 5px; /* Espacio entre el checkbox y el texto */
  border-radius: 10px;
}

@media screen and (max-width:640px){
  .card-container{
    top: 45%;
  }
 
  .card-header form{
    width: 60%;
  }
  .diosmio{
    display: block;

  }
  .section-filter{
    flex: 1;
    max-width: 100%; /* Cambiar el ancho máximo al 100% */
  }
  .fila{
    display:inline-block;
  }
  .card-body{
    max-width: 100%; /* Cambiar el ancho máximo al 100% */
  }
}
@media screen and (min-width:1024px) {
  .card-header form{
    width: 35%;
  }
  
}